body {
    color: #ffffff;
}

.subtitle-text {
    font-size: 1.25rem !important;
    font-weight: 300 !important;
}

a:link {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: peachpuff !important;
    font-weight: bold;
    text-decoration: none;
}

a:active {
    color: peachpuff !important;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.jumbotron {
    /* background-image: url("../images/nasa.jpg"); */
    /* background-color: #4f5357; */
    /* background-color: #343A40; */
    /* background-size: 100% 100%; */
    background-color: transparent;
    padding-top: 260px;
    padding-bottom: 260px;
    text-align: center
}

.main-title {
    font-weight: 600
}

.bg-dark {
    border: 1px #343A40
}

.main-btn {
    margin-top: 20px;
    width: 16rem;
    min-height: 47px;
    border-radius: 22px;
    padding: 8px 10px;
    font-weight: bold;
    margin-top: 2.5rem
}

.run-btn {
    border-radius: 20px;
    margin-top: 10px !important;
    max-width: 160px !important;
    min-width: 10rem;
    align-items: flex-end;
    float: right;
}

.alert-btn {
    border-radius: 20px;
    margin-top: 20px;
}

.first-block {
    padding-bottom: 8rem;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: cover;
    background-color: #343A40;
}

.dark-block {
    background-color: #343A40;
    color: white;
    /* padding-top: 4.5rem !important; */
    padding-bottom: 5rem !important;
}

.black-block {
    background-color: black;
    color: white;
    /* padding-top: 4.5rem !important; */
    padding-bottom: 5rem !important;
}

.second-block-title {
    text-align: left;
    padding-bottom: 1rem;
}

.light-block {
    background-color: gainsboro;
    padding-bottom: 5rem !important;
    color: #343A40;
}

.white-block {
    background-color: white;
    padding-bottom: 5rem !important;
    color: #343A40;
}

.info-box {
    background-color: white;
    text-align: center;
    font-size: 2.5rem;
    min-height: 10rem;
}

.info-box-title {
    font-size: 4rem;
    margin-bottom: 0rem;
}

.genre-dropdown {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

.hr-dark-bg {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    border-top: 1px solid gray;
}

.tableau-link {
    background: #117a8b;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 4px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}