<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Platinum Lyric Project</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
  />
  <!-- <link rel="stylesheet" type="text/css" href="../static/css/style.css"> -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/d3-fetch.v1.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
  <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {
    
        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();
    
          // Store hash
          var hash = this.hash;
    
          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 800, function(){
       
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
  </script>

  <!-- Set a global variable SCRIPT_ROOT to the prefix to the root of the application -->
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
 
  <!-- <script type="text/javascript">
    $(function() {
      $('a#run-btn').bind('click', function() {
        $.getJSON($SCRIPT_ROOT + '/get_lyrics', {
          testing: $(input[name='testing']).val()
        }, function(data) {
          $('#receive-pred').text(data.result);
        });
        return false;
      });
    });
  </script>
 -->




  <!-- <script type="text/javascript">
  function getPrediction() {
    $.getJSON("/model_predict", function(data) {
      $('receive-pred').text(data.value)
    });
  };
  </script> -->


</head>

<body class="bg-dark body">
  <div class="container-fluid">
    <div class="row first-block pl-5 pr-5" style="background-image: url('../static/images/Background_1.png');">
      <div class="col-md-12 jumbotron text-center jumbotron-fluid">
        <h1 class="display-4 main-title">The Platinum Lyric Project</h1>
        <p class="lead">Can a song’s lyrics predict its success?</p>
        <a href="#enter-lyrics">
          <button type="button" class="btn btn-info main-btn">Try it out!</button>
        </a>
      </div>

      <div class="col-md-12 pb-3" id="enter-lyrics"></div>
      <div class="col-md-12">
        <h2 class="pt-5 pb-2">Enter song lyrics below to find out if it will be a hit or not</h2>
        <p class="lead">The lyrics of your song will be compared to our dataset of 41k+ songs to determine its likelihood of achieving success.</p>
        <p class="lead pb-5">Our metric of success was defined as the song having reached <a href="https://www.billboard.com/charts/hot-100" target="_blank">Billboard's top 100 Chart</a> and remained there for at least one week.</p>
      </div>
      

      <div class="col-md-6">
        <form>
          <div class="form-group">
            <textarea class="form-control form-control-lg pb-3" id="lyricsInput" name="get-lyrics" rows="9" placeholder="Enter song lyrics here"></textarea>
            <button type="button" class="btn btn-dark run-btn" id="run-btn">Run</button>
            <script type="text/javascript">                          
              $(function() {
                $("#run-btn").click(function() {
                  var userLyricsInput = $("textarea[name='get-lyrics']").val();
                  var routeLyrics = $SCRIPT_ROOT + "/get_lyrics";

                  $.get( routeLyrics, { userLyrics: userLyricsInput }, function(data) {
                    if(data.result == "True") {
                      $('#success-msg').show();
                      $('#not-success-msg').hide();
                      $('#neutral-msg').hide()
                    } else if (data.result == "False") {
                      $('#success-msg').hide();
                      $('#not-success-msg').show();
                      $('#neutral-msg').hide()
                    } else {
                      $('#success-msg').hide();
                      $('#not-success-msg').hide();
                      $('#neutral-msg').show()
                    }
                }, "json");
                });
              });
              </script>
          </div>
        </form>
      </div>

      <div class="col-md-6" id="model-prediction">
        <div class="alert alert-success" id="success-msg" role="alert" style="display: none;">
          <h4 class="alert-heading">This song will be a Hit!</h4>
          <hr>
          <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
          <button type="button" class="btn btn-secondary alert-btn">Test another one!</button>
        </div>

        <div class="alert alert-warning" id="not-success-msg" role="alert" style="display: none;">
          <h4 class="alert-heading">This song will not be a Hit...</h4>
          <hr>
          <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
          <button type="button" class="btn btn-secondary alert-btn">Test another one!</button>
        </div>

        <div class="alert alert-secondary" id="neutral-msg" role="alert" style="display: block;">
          <h4 class="alert-heading">Run the model to get your prediction</h4>
          <hr>
          <p>You successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
        </div>
      </div>
    </div>

    <div class="row dark-block pl-5 pr-5 pt-5 pb-5">
      <div class="col-md-12">
        <h1 class="display-4 main-title second-block-title">Explore historical data</h1>
        <p class="lead">The lyrics of your song will be compared to our dataset of 41k+ songs to determine its likelihood of achieving success.</p>
        <p class="lead pb-5">Our metric of success was defined as the song having reached <a href="https://www.billboard.com/charts/hot-100" target="_blank">Billboard's top 100 Chart</a> and remained there for at least one week.</p>
        <div id="bubblechart">
          <script type="text/javascript">
            var graph = {{bubble_chart_JSON | safe}};
            // Plotly.plot('bubblechart', graph[0].data, graph[0].layout || {});
            Plotly.plot('bubblechart', graph[0], graph[1] || {});            
          </script>
        </div>
      </div>
    </div>

    <div class="row light-block pl-5 pr-5 pt-5 pb-5">
      <div class="col-md-12">
        <h1 class="display-4 main-title second-block-title">Features by Year</h1>
        <p class="lead pb-5">The lyrics of your song will be compared to our dataset of 41k+ songs to determine its likelihood of achieving success.</p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <select class="form-control dropdown" id="feature-select" name="feature-dropdown" placeholder="Select Feature">
              <option selected>Select feature</option>
              <option>mode</option>
              <option>acoustiness</option>
              <option>instrumentalness</option>
              <option>danceability</option>
              <option>energy</option>
              <option>liveness</option>
              <option>speechiness</option>
            </select>

          <script type="text/javascript">
            $(function() {
              $("#feature-select").change(function() {
                var userFeatureSelection = $("select[name='feature-dropdown']").val();
                var routeFeature = $SCRIPT_ROOT + "/chart_feature_select";

                $.get( routeFeature, { userFeatureSelect: userFeatureSelection }, function(data) {
                  console.log(data)
                  Plotly.react('bargraph',data.result || {});
                });
              });
            });

          </script>
          
          <!-- <script type="text/javascript">
            function featureChanged(userOption) {
              d3.json("http://127.0.0.1:5000/feature_select/"+userOption).then(function(data) {
                  console.log(data)
                });
            };
          </script> -->
        </div>
        <div id="bargraph">
          <script type="text/javascript">
            var graph = {{features_by_year_JSON | safe}};
            Plotly.react('bargraph',graph || {});
          </script>
        </div>

      </div>
    </div>

    <div class="row dark-block pl-5 pr-5 pt-5 pb-5">
      <div class="col-md-12">
        <h1 class="display-4 main-title second-block-title">Word Cloud Comparison</h1>
        <p class="lead pb-5">Use the dropdown to select music genres for a side by side comparison of the most common words.</p>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <select class="form-control" id="first-genre-select" name="first-genre" placeholder="Select Genre">
            <option selected>Rock</option>
            <option>Rap</option>
            <option>Jazz</option>
          </select>
          <script type="text/javascript">
            $(function() {
              $("#first-genre-select").change(function() {
                var selectedGenre = $(this).val();
                var imgPartialPath = "../static/images/wordcloud_"
                var imgExtension = ".png"
                var imgPath = imgPartialPath.concat(selectedGenre).concat(imgExtension)
                console.log(imgPath);
                $('#first-word-cloud-img').attr("src", imgPath).attr("alt", selectedGenre)
              })
            })
          </script>
        </div>
        <div id="first-word-cloud">
          <img id="first-word-cloud-img" src="../static/images/wordcloud_Rock.png" alt="Rock">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <select class="form-control" id="second-genre-select" name="second-genre" placeholder="Select Genre">
            <option selected>Rap</option>
            <option>Rock</option>
            <option>Jazz</option>
          </select>
          <script type="text/javascript">
            $(function() {
              $("#second-genre-select").change(function() {
                var selectedGenre = $(this).val();
                var imgPartialPath = "../static/images/wordcloud_"
                var imgExtension = ".png"
                var imgPath = imgPartialPath.concat(selectedGenre).concat(imgExtension)
                console.log(imgPath);
                $('#second-word-cloud-img').attr("src", imgPath).attr("alt", selectedGenre)
              })
            })
          </script>
        </div>
        <div id="second-word-cloud">
          <img id="second-word-cloud-img" src="../static/images/wordcloud_Rap.png" alt="Rap">
        </div>
      </div>
    </div>

    <div class="row light-block pl-5 pr-5 pt-5 pb-5">
      <div class="col-md-12">
        <h1 class="display-4 main-title second-block-title">Other Chart</h1>
        <p class="lead pb-5">The lyrics of your song will be compared to our dataset of 41k+ songs to determine its likelihood of achieving success.</p>
      </div>
    </div>
  </div>

</body>



</html>
